nav ul li{
    display:inline-block;
    width: 20vw;
    
}

a{
    background-color: rgb(40, 35, 35);
    color: rgb(255, 0, 0);
    border-radius: 5px;
}

p{
    display:inline-block;
    width: 45vw;
    margin: 5vw;
    background-color:rgba(73, 169, 253, 0.849);
    color: rgb(255, 255, 255);
    border: solid;
    box-shadow: 5px 5px 13px -5px #000;
}
body{
    background-color: rgb(173, 167, 167);
}